body {
  margin: 0;
  background-color: #FCFCFC;
  font-family: "Nunito", sans-serif;
}

header {
    display: none;
}
footer {
  display: none;
}
.content {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 1140px;
}
.overlay {
  height: 100%;
  background-color: #EEDD47;
  opacity: 0.5;
  z-index: -1;
}
video {
  z-index: -2;
}

video, .hero-mask, .overlay {
  width: 100%;
  position: absolute;
}
/* svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  margin: auto;
} */
#mask {
  clip-path: url(#svg-path);
}
#circle-path {
    z-index: -3;
}
.logo-container {
  margin-top: 2.5rem;
}
.video-container {
  display: inline-block;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -2;
    padding: 4rem 0 0 15rem;
    overflow: hidden;
}
.title-container {
    line-height: 600%;
    color: #130048;
    margin-top: 20%;
}
.title-container h1 {
    font-size: 5rem;
}
.title-container a {
    font-weight: 800;
    cursor: pointer;
    border-bottom: solid 0px #130048;
    transition: border 0.2s;
}
.title-container a:hover {
  opacity: 0.8;
  border-bottom: solid 5px #130048;
}
.title-container p {
    font-size: 1.5rem;
    width: 700px;
    line-height: 120%;
    color: #130048;
}
.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}
.button-container button{
  padding: 1rem 2.5rem;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.button-container :nth-child(1) {
  background-color: #EEDD47;
}
.button-container :nth-child(2) {
  background-color: #130048;
  color: white;
}
.button-container button:hover {
  opacity: 0.8;
}
#svg-path {
    transform-origin: right;
    transform: translate(150%, 20%) scale(1);
  }
#circle-path {
    transform-origin: right;
    transform: translate(90%, 60%) scale(1);
}

  @media only screen and (max-width: 2000px) {
    #svg-path {
        transform-origin: right;
        transform: translate(110%, 20%) scale(0.9);
    }
    .circle-svg {
        transform: translate(80%, 20%) scale(0.1);
    }
  }
  @media only screen and (max-width: 1700px) {
    .title-container {
        margin-top: 15%;
    }
    #svg-path {
        transform-origin: right;
        transform: translate(90%, 10%) scale(0.9);
    }
  }
  @media only screen and (max-width: 1480px) {
    .title-container {
        margin-top: 15%;
    }
    #svg-path {
        transform-origin: right;
        transform: translate(70%, 10%) scale(0.8);
    }
  }
  @media only screen and (max-width: 1350px) {
    .title-container {
        margin-top: 10%;
    }
    #svg-path {
        transform-origin: right;
        transform: translate(50%, 0%) scale(0.7);
    }
  }
  